.error{
  display: grid;
  grid-auto-flow: row;
  width: 35%;
  margin: 20% auto;
  &__message {
    font-size: 20px;
    color: #888888;
    font-family: sans-serif;
  }
  &__icon {
    width: 50%;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .error {
    width: 60%;
  }
}
